name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/ahktobash-jar-with-dependencies.jar
        asset_name: ahktobash-jar-with-dependencies.jar
        tag: ${{ github.ref }}
        overwrite: true
        body: "New release"
